body{
    /* background-image: url(https://m.media-amazon.com/images/I/71bs516jHFS._AC_SL1500_.jpg); */
    background-color: rgb(2, 118, 23);
}
.qogoz,.tosh,.qaychi{
width: 400px;
height: 400px;
margin-left: 500px;
margin-top: 150px;
}